In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_9372\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [17]:
# 리터널 : 자연어 : 문자, 숫자 
# 숫자 : 정수 자료형 , 실수 자료형; 10, 10.5 , '10'(x)
# 연산자 : +,-,*,/,//,%,**
# 문자 자료형: 'abc' ,"abc", '''abc''' , """abc""" , '10', 
#        a : 변수 : 문자가 될 수 없다, 자료형을 저장하기 위해서 사용
a  = 10
a  = '10'
# 문자열에서  indexing, slicing
# 문자열 자료형 : + , *
# 문자함수
a = 'Life is too short'
a.count('s')
a.find('s')
a.find('too')
a.find('s',7)
a.find('k') # 없는 문자인 경우 -1
a.index('s')
a.index('too')
a.index('s',7)
#a.index('k') # 없는 문자는 오류가 발생
a.upper()
a.lower() 
a = ' Life is too short '
# 양쪽 공백을 제거 할때 사용
a.strip()
a = 'abLife is too shortab'
a.lstrip('ab')
a.rstrip('ab')
a = a.strip('ab')
print(a)
a.replace("Life", "Your leg ")
a = "010-1234-1234"
#문자열이 모두 숫자인지
a.isdigit()
a = "01012341234"
a.isdigit()
a = "abc def"
a.isalpha()
a = "abcdef"
a.isalpha()
a.islower() # 모두 소문자
a.isupper() # 모두 대문자

Life is too short

True

In [24]:
# 문자열 다루기
number = 10
day = "three"
'''나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'''
a = "나는 %d개의 사과를 먹어서 %s일 동안 아팠습니다." % (number, day)
a = "나는 %s개의 사과를 먹어서 %s일 동안 아팠습니다." % (number, day)
a = "나는 {0}개의 사과를 먹어서 {1}일 동안 아팠습니다.".format(number, day)
a = "나는 {0}개의 사과를 먹어서 {d}일 동안 아팠습니다.".format(number, d=day)
a = f"나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다."
a

'나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'

In [37]:
# 리스트 자료형 : 여러 유형의 데이터를 여러 개 저장할 수 있는 자료형 : []
a = [] # []를 사용하면 리스트가 된다 ; 빈리스트
b = [1, 2, 3] 
c = ['Life', 'is', 'too', 'short'] 
d = [1, 2, 3, 'Life', 'is', 'too', 'short']
e = [1, 2, 3, 'Life', 'is', 'too', 'short', [1, 2, 3] ] 
# indexing , slicing
str1 = "Life is"
str2 = 'too short'
print(str1 + str2)
print(str1 + " " +str2)
print("==" * 30)
a = [1,2,3]
b = ['aaaa','bbbb','ccccc']
print( a + b )
print( a * 3 )
# 문자열의 크기
print(len(str1))
# 리스트의 크기 
print(len(a)) # 요소의 갯수 
print(len(b))

Life istoo short
Life is too short
============================================================
[1, 2, 3, 'aaaa', 'bbbb', 'ccccc']
[1, 2, 3, 1, 2, 3, 1, 2, 3]
7
3
3

In [47]:
a = [1,2,3,4,5]
#    0 1 2 3 4
a[2]
a[2] = 10
a
# 리스트에 있는 요소의 값을 변경할 경우 indexing을 이용해서 변경한다.
a[1]
a[2]
c = ['Life', 'is', 'too', 'short'] 
c[0]
c[0] = "your leg"
c
print(str1)  # Life is
#              0123456
str1[0]
# str1[0]='l'#문자열에서는 indexing을 이용해서 문자열에 있는 값을 변경할 수 없다.

Life is

'L'

In [64]:
# 리스트 함수
### 리스트에 요소 추가 
l = ['Life', 'is']
l
# 리스트 마지막에 요소 추가하기
l.append('too')
l
l.append('short')
l
# 원하는 위치에 요소 삽입하기
l = ['Life', 'short']
l
l.insert(1, 'is')
l  # ['Life', 'is', 'short']
l.insert(2, 'too')
l
# 리스트 확장하기 ( + )
a =  [1,2,3]
c = l + a 
c
l.extend(a) # 
l

['Life', 'is', 'too', 'short', 1, 2, 3]

In [89]:
l = ['Life', 'is', 'too', 'short', 1, 2, 3]
#      0      1      2       3     4  5  6
# index를 이용해서 요소 삭제
l[4]
del l[4]
l # ['Life', 'is', 'too', 'short', 2, 3]
# slicing을 이용해서 요소 삭제
l[4:6]
del l[4:6]
l # ['Life', 'is', 'too', 'short']
del l[2:]
l
l = ['Life', 'is', 'too', 'short', 1, 2, 3, [1], '1']
# 요소의 값을 이용해서 요소 삭제
l.remove(1) # 정수
l
l.remove([1]) # 리스트
l
l.remove('1') # 문자
l
l.remove('is')
l
#리스트에서 값을 가지고 나오기
l.pop() # 마지막 값을 가지고 나옴
l
l.pop() 
l
result = l.pop()
print(result)
l
result = l.pop()
print(result)
l
l = ['Life', 'is', 'too', 'short', 1, 2, 3, [1], '1']
#       0      1     2       3      4  5  6  7    8
# pop함수에 index를 사용해서 index에 있는 값을 가져오기
print(len(l))
result = l.pop(2)
print(result)
l
print(len(l))
result = l.pop(6)
print(result)
print(l)
print(len(l))

short
too
9
too
8
[1]
['Life', 'is', 'short', 1, 2, 3, '1']
7

In [95]:
# 정렬
a = [1, 4, 2, 3]
a
# 오름차순으로 정렬
a.sort() 
a
a = [1, 4, 2, 3]
# 내림차순으로 정렬
a.sort(reverse=True) # [4, 3, 2, 1]
a
# 뒤에서 부터 출력
a = [1, 4, 2, 3]
a.reverse() # [3, 2, 4, 1]
a

[3, 2, 4, 1]

In [101]:
str3 = 'hobby'
str3.count('b')
a = [1, 4, 2, 5, 4, 3]
# 같은 값의 갯수
a.count(4)
# 요소의 위치 찾기
a.index(4)
a.index(4, 2)
# a.find(4) : find함수는 문자열에는 있지만 리스트에는 없다.

4

In [102]:
# 파이썬 자료형 : 
# 정수형 : 1, 54, 20, '1'(x) 
# 실수형 : 1.3, 3.6, '3.6'(x)  
# 문자열형 : 'a', "a", '''a''', """a""", '10', "20.5" ; a : 변수  
# 리스트형 : [], [1]
# 튜플 : () ,(1,) # 튜플 자료형은 ()로 표시한다.
print(1)
print('1')
print([1]) # 리스트 자료형 : 여러 자료형을 여러개 저장할 때 사용
print((1,)) # 튜플 자료형 : 여러 자료형을 여러개 저장할 때 사용

1
1
[1]
(1,)

In [124]:
# 튜플 자료형
l = [] # 빈 리스트
t = () # 빈 튜플
print( 1 + 3 * 4 )
print((1+3) * 4) # () 최우선 연산자
print((1))
print((1,))#요소가 하나인 튜플인 경우 최우선 연산자와 구별하기 위해 ","를 적어준다.
t1 = (1,)
print(t1)
t2 = (1,2,3) # 요소가 두개 이산인 경우 ()만 해주면 된다.
t3 =  (1,2,3,'a', 'b') 
t4 = ('a', 'b', ('ab', 'cd')) # 튜플을 가진 튜플
t5 = ('a', 'b', ('ab', 'cd'), [1,2,3])

13
16
1
(1,)
(1,)

In [127]:
t2 = (1,2,3)
#     0 1 2
# indexing, slicing을 할 수 있다.
print("t2[1] = " + str(t2[1]))
t2[1:]
l = [1,2,3]
print("l[1] = " + str(l[1]))
l[1] = 10
print("l[1] = " + str(l[1]))
l
# t2[1] = 10
# 리스트와 튜플의 차이점
# 리스트는 요소를 변경할 수 있지만 튜플은 요소를 변경할 수 없다.
del l[1] # 요소 삭제
# del t2[1] # 튜플에 있는 값을 변경할 수 없으므로  삭제도 되지 않는다.
l2 = list(t2) # 튜플을 리스트로 변경
l2
t6 = tuple(l2) # 리스트를 튜플로 변경
t6

t2[1] = 2
l[1] = 2
l[1] = 10

(1, 2, 3)

In [147]:
l = [1, 2, 3, "a", "b", [1,2,3], (1,2,3)]
#    0  1  2   3   4       5        6
l[1]
l[5]
l[6]
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#    0  1  2   3   4       5        6
#                         0 1 2    0 1 2
print(t7[1])
print(t7[3])
print(t7[5]) # 리스트
print(t7[6]) # 튜플
print(t7[5][1]) # 정수 : 2
print(t7[6][2]) # 정수 : 3
print(t7[5][1] + t7[6][2])
print(t7[3: 3+3])
print(t7[5][1:])
t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3), 3
t8
# 요소의 위치
print(l.index(2))
print(t7.index(2))
print(t8.count(3))

2
a
[1, 2, 3]
(1, 2, 3)
2
3
5
('a', 'b', [1, 2, 3])
[2, 3]
1
1
2

In [163]:
# 정수 , 실수 , 문자 , 리스트 , 튜플 
### 딕셔너리(사전) : 키와 값이 하나의 쌍으로 이루어진 자료형  : {}
l = [] # 빈 리스트
t = () # 빈 튜플
d = {} # 빈 딕셔너리
# d1 = { Key1:Value1, Key2:Value2, Key3:Value3, ...}
# java:map<키,값>
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(dic)
l = [1,2,3,4]
#    0 1 2 3
l[2] # index를 이용해서 값을 가지고 온다
dic['name'] # 키를 이용해서 값을 가지고 온다.
dic['phone']
d2 = { 2 : '이숭무', 0 : '이상범' , 1 : '이장범'}
#         0             1            2 (x)
print(d2[2])
print(d2[0])
l[1] = 10
print(l)
# l[4] = 30 # list assignment index out of range
d2[0] =  '김잔중' # 키가 있는 경우에는 값이 변경된다.
print(d2)
d2[3] = '이상범' # 키가 없는 경우에는 딕서너리에 추가
print(d2)
# 중복키를 허용하지 않는다.
d2[3] = '박준현'
print(d2)
a = {1 :'a', 1: 'b'}
print(a) # 중복 키를 허용하지 않으므로 나중에 저장된 값을 갖는다.

a[3] = [1,2,3,4]
print(a)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
이숭무
이상범
[1, 10, 3, 4]
{2: '이숭무', 0: '김잔중', 1: '이장범'}
{2: '이숭무', 0: '김잔중', 1: '이장범', 3: '이상범'}
{2: '이숭무', 0: '김잔중', 1: '이장범', 3: '박준현'}
{1: 'b'}
{1: 'b', 3: [1, 2, 3, 4]}

In [169]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic
#  요소 삭제
del dic['name']
print(dic)
dic[3] = '이상범'
print(dic)
del dic[3]
print(dic)

{'phone': '0119993323', 'birth': '1118'}
{'phone': '0119993323', 'birth': '1118', 3: '이상범'}
{'phone': '0119993323', 'birth': '1118'}

In [176]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['birth'] = '19991118'
print(dic)
print(dic['birth']) # 19991118
#                     01234567 : index
#                     87654321 -
## 년, 월 , 일을 따로 출력하세요.
print(dic['birth'][:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:6+2])
#  월일만 같이 출력
print(dic['birth'][4:])
print(dic['birth'][-4:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
19991118
1999
11
18
1118
1118

In [182]:
#### 딕셔너리 관련 함수
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
# 딕셔너리에 있는 키와 값을 튜플로 묶어서 리스트로 가져오기
print(dic.items())
# 딕셔너리 비우기
dic.clear()
print(dic)
l = [1,32,4,5]
print(l)
# 리스트 비우기
l.clear()
print(l)

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '1118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
{}
[1, 32, 4, 5]
[]

In [194]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(dic['name'])
print(dic.get('name'))
# print(dic['money']) # 값을 가지고 올때 키가 없으면 오류 발생
print(dic.get('money',0)) #키가 없는 경우 특정한 값을 가질 수 있게 할 수 있다.
print(dic.get('money')) # None:키가 존재하지 않는다.

dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "money" : 100 }
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
# print(dic1['money'] + dic2['money'])

print(dic1.get('classic',0) + dic2.get('classic',0))
print(dic1.get('pop',0) + dic2.get('pop',0))
print(dic1.get('money',0) + dic2.get('money',0))

pey
pey
0
None
1000
1200
1000
1200
100

In [200]:
# 정수, 실수, 문자, 리스트, 튜플, 딕셔너리
# 집합 : 교집합, 합집합, 차집합
s1 = set([1,2,3,4])
s2 = set((1,2,3,4))
s3 = {1,2,3,4}
print(s1)
print(s2)
print(s3)
s4 = set("hello") # 중복 데이터는 허용하지 않는다.
print(s4)
l = list(s2) # [1, 2, 3, 4]
print(l)
print(l[1])
t = tuple(s2)
print(t)  # (1, 2, 3, 4)
print(t[1])
# print(s1[1]) # 집합자료형은 index를 사용하지 않는다.
# index를 사용하기 위해서는 리스트나 튜플로 변환해야 한다.

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{'h', 'o', 'e', 'l'}
[1, 2, 3, 4]
2
(1, 2, 3, 4)
2

TypeError: 'set' object is not subscriptable

In [207]:
#### 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1)
print(s2)
### 교집합
print(s1 & s2)
print(s1.intersection(s2))
### 합집합
print(s1 | s2) 
print(s1.union(s2))
### 차집합
print(s1 - s2)
print(s1.difference(s2)) # {1, 2, 3}
print(s2 - s1)
print(s2.difference(s1)) # {8, 9, 7}

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{8, 9, 7}
{8, 9, 7}

In [221]:
s1 = {1, 2, 3, 4, 5, 6, 7}
### 요소 추가
print(s1)
s1.add(7)
print(s1)
s1.add(7)
print(s1)
# 8,9,10을 추가
s1.add((8,9,10))
print(s1)
# {1, 2, 3, 4, 5, 6, 7,8, 9, 10 }
s1.update([8,9,10])
print(s1)
s1.update((11,12,13))
print(s1)
## 요소 삭제
s1.remove(13)
print(s1)
s1.remove((8, 9, 10))
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [229]:
# 정수 1 , 실수 10.5, 문자 'a', 리스트 [], 튜플(), 딕셔너리 {}, 집합 set, 
# 부울 : True, False
a = 1 # 정수
a = 1.5 # 실수
a = 'a' # 문자
a = 'true' # 문자
a = 'True' # 문자
a = [1,2] # 리스트
a = (1, 2) # 튜플
a = {1 : 2 } # 딕셔너리
a = {1,2,3} # 집합
a = True # 부울
a = False  # 부울
# a = true # 부울 타입이 아니라 오류 발생
# a = false # 부울 타입이 아니라 오류 발생
# 부울 타입을 사용하는 연산은 논리연산
print( True and True )# 논리연산 : 부울과 부울을 논리연산을 하면 부울타입이다.

print( 1 + 1) # 정수의 연산의 결과 정수
print( 'a' + 'b') # 문자열의 연산결과 문자
print([1] + [2]) # 리스트의 연산결과 리스트

# 관계(비교)연산의 결과인 경우 부울 타입이 된다.
x = 10 ; y = 20 
print(x > y) # 부울 타입결과를 가진다.
print(x < y)
print(x <= y)
print(x >= y)
print(x == y)
print(x != y)

True
2
ab
[1, 2]
False
True
True
False
False
True

In [233]:
# and | or : 논리연산 : bool타입을 이용해서 연산
## and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
### or 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
True
True
True
False

In [235]:
x = 10; y = 20 ; z = 15
print( x > y and z < y)
print( x > y or z < y)

False
True

In [237]:
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다.
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
#            True      and      False      or    False
print(result)

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

False
평년

In [246]:
# bool함수를 사용해서 자료형이 가지고 있는 부울 타입을 확인하자.
print(bool('이숭무')) # True
print(bool('')) # blank  # False
print(bool([1,2,3,4]))
print(bool([])) # False
print(bool((1,2,3,4)))
print(bool(())) # False

print(bool(0)) # False
print(bool(-1)) # True
print(bool(1)) # True
print(bool(None)) # 존재하지만 알 수 없는 값 # False

if "이숭무":
    print("문자열")

True
False
True
False
True
False
False
True
True
False
문자열

In [255]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
a = b = c = 0
# <---------- 대입 순서
print(a,b,c)
a , b = 'python', 'life'
print(a,b)
a , b = ('python', 'life')
print(a,b)
a , b = ['python', 'life']
print(a,b)
(a , b) = 'python', 'life'
print(a,b)
[a , b] = 'python', 'life'
print(a,b)
(a , b) = ('python', 'life')
print(a,b)
[a , b] = ['python', 'life']
print(a,b)
a,b,c = 'python', 'life', [1,2,3]
print(a,b,c)

0 0 0
python life
python life
python life
python life
python life
python life
python life
python life [1, 2, 3]

In [257]:
# 변수에 있는 값을 서로 교환하기
a = 10
b = 20
###  다른 언어인 경우
temp = a
a = b
b = temp
print(a, b)

### 파이썬
a = 10
b = 20
a , b = b, a
print(a, b)

20 10
20 10

In [261]:
#### 3장 제어문
### bool타입을 이용해서 원하는 결과를 얻어 오는 것을 말한다.

### 조건문 : 여러가지 선택중에서 하나를 선택할 수 있게 하는 것
### 조건문을 사용할 경우에는 조건식 뒤에는 : 이 있어야하고
### 명령문은 들여쓰기를 하여야 한다. 들어쓰기가 되지 않은 경우 오류 발생
### 들여쓰기는 공백문자 또는 탭을 사용할 수가 있지만 두개를 같이 사용하지 못한다.
### 들여쓰기할 때는 주로 탭을 많이 사용한다.

### 형식(문법)
'''
if 조건식: ### True
    명령어1
    ...
    명령문n

명령문11
'''
# 조건식 다음의 명령문은 조건식의 결과가 True이어야 실행이 되고  
# False이면 실행이 안된다.
if '이숭무': # True
    print("문자열1")

print("실행 끝")
if '':
    print("문자열2")
    
print("실행 끝")

문자열1
실행 끝
실행 끝

In [264]:
# 단일 if문
money = 3100
# 3000원 이상이면 "차를 타고 가시오"를 출력
if money >= 3000: # 조건식
    print("차를 타고 가시오")
print("===" * 20)
money = 2500
if money >= 3000: 
    print("차를 타고 가시오")

print("===" * 20)

차를 타고 가시오
============================================================
============================================================

In [269]:
# 결과가 false이어도 실행이 되도록 하자.
# if ~ else  : 두개중에 하나를 선택하고자 할 때 사용
'''
if 조건식: # True
    명령문1
    ...
    명령문n
else:      #False
    명령문1
    ...
    명령문n

명령문
    
'''
money = 3100
# 돈이 3000원이상이면 "차를 타고 가시오"를 출력하고 아니면 "걸어가시오"를 출력
print(money >= 3000)

if money >= 3000:
    print("차를 타고 가시오")
else:
    print("걸어가시오")

print("==" * 30)

money = 2500
if money >= 3000: # False
    print("차를 타고 가시오")
else:
    print("걸어가시오")
    
print("==" * 30)

money = 2500
if not money >= 3000: # not False => True
    print("걸어가시오")
else:
    print("차를 타고가시오")

True
차를 타고 가시오
============================================================
걸어가시오
============================================================
걸어가시오

In [270]:
x = 10 ; y = 20 
print( x == y )
print( x > y )
print( x < y )
print( x >= y )
print( x <= y )
print( x != y )

if x > y:
    print("x가 y보다 크다")
else:
    print("x가 y보다 작다")
    
if x != y:
    print("x와 y는 다르다")
else:
    print("x와 y는 같다")

False
False
True
False
True
True

In [281]:
# IN연산자 사용하기
l = [1,2,3,4,5,6]
print(4 in l)
print(7 in l)
print(4 in [1,2,3,4,5,6])

print('j' in "python")
print('j' not in "python")
print('a' in {'a': 1, 'b' : 2})

print(4 in (1,2,3,4,5,6))
print(4 in {1,2,3,4,5,6})
print(7 in {1,2,3,4,5,6})
print(7 not in {1,2,3,4,5,6})

True
False
True
False
True
True
True
True
False
True

In [284]:
l = [1,2,3,4,5,6]
print( 4 in l)
if 4 in l:
    print("리스트에 4가 포함되어 있습니다.")
else:
    print("리스트에 4가 포함되어 있지 않다.")
    
print( 7 in l)
if 7 in l:
    print("리스트에 7가 포함되어 있습니다.")
else:
    print("리스트에 7가 포함되어 있지 않다.")

    
if 7 not in l:
    print("리스트에 7가 포함되어 있지 않다.")
else:
    print("리스트에 7가 포함되어 있습니다.")

True
리스트에 4가 포함되어 있습니다.
False
리스트에 7가 포함되어 있지 않다.

In [288]:
pocket = ['paper', 'cellphone', 'money']
print('money' in pocket)
if 'money' in pocket:
    print(" 주머니에 돈이 있습니다.")
else:
    print(" 주머니에 돈이 없습니다.")

print('j' not in "python")
if 'j' not in "python":
    print("j가 없습니다.")
else:
    print("j가 있습니다.")
    
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40
print(result)

if (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40:
    print("합격")
else:
    print("불합격")

True
 주머니에 돈이 있습니다.
True
j가 없습니다.
False
불합격

In [287]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 
# 그렇지 않으면 F
# 조건이 여러개인 경우
'''
if 조건식:
    명령문
elif 조건식:
    명령문
elif 조건식:
    명령문
...
else:
    명령문

'''
# 조건식은 무조건 if문 뒤에 와야 한다.else문 뒤에는 조건식이 올 수 없다.
score = 79
if score >= 90:
    print('A')
elif score >= 80:
    print('B')    
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

In [289]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
score = 79
if score >= 90:
    if score >= 95:
        print('A+')
    else:
        print('A')
elif score >= 80:
    if score >= 85:
        print('B+')
    else:
        print('B')    
elif score >= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score >= 60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else:
    print('F')

C+

In [291]:
'''
score가 60이면 message 변수에 success를 아니면 message 에 failure를 저장한 후 출력
'''
if score >= 60:
    message = 'success'
else:
    message = 'failure'

print(message)

message = 'success' if score >= 60 else 'failure'
print(message)

success

In [292]:
a = 10; b = 20; opt='add'

if opt == "add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else :
    result = a / b
print(result)

30

In [293]:
if opt == "add":
    result = a + b
else:
    if opt == "sub":
        result = a - b
    else:
        if opt == "mul":
            result = a * b
        else:
            result = a / b
print(result)

30

In [296]:
result = a + b if opt == "add" else ( a - b if opt == "sub" 
                               else ( a * b if opt == "mul"
                               else  a / b
                               ))
print(result)

30

In [306]:
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무가 넘어 갑니다.")
'''
반복문
반복적인 명령문이 있는 경우 한번만 사용해도 똑 같은 결과를 얻도록 하는 것이
반복문이다. while, for
'''
print("==" * 30)
i = 1
while i <= 10:
    #print("나무를 %d번 찍었습니다." % i)
    #print(f"나무를 {i}번 찍었습니다.")
    #print("나무를 {0}번 찍었습니다.".format(i))
    print("나무를 {num}번 찍었습니다.".format(num = i))
    i = i + 1

print("나무가 넘어 갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어 갑니다.
============================================================
나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어 갑니다.

In [310]:
'''
8단 출력
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
'''
print(f"8  * 1 = {8 * 1}")
print(f"8  * 2 = {8 * 2}")
print(f"8  * 3 = {8 * 3}")
print(f"8  * 4 = {8 * 4}")
print(f"8  * 5 = {8 * 5}")
print(f"8  * 6 = {8 * 6}")
print(f"8  * 7 = {8 * 7}")
print(f"8  * 8 = {8 * 8}")
print(f"8  * 9 = {8 * 9}")

print("==" * 30)

i = 1
while i <= 9:
    print(f"8  * {i} = {8 * i}")
    #i = i + 1
    i += 1

8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
============================================================
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72

In [316]:
dan = int(input("단을 입력해주세요."))
i = 1
while i <= 9:
    # print(f"{dan} * {i} = {dan * i}")
    print("%d * %d = %d" % (dan, i , dan * i))
    #i = i + 1
    i += 1

단을 입력해주세요.5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [321]:
start = int(input("시작 곱을 입력하세요"))
end = int(input("마지막 곱을 입력하세요"))
i = start
while i <= end:
    print(f"8  * {i} = {8 * i}")
    #i = i + 1
    i += 1

시작 곱을 입력하세요3
마지막 곱을 입력하세요7
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56

In [ ]:
dan = int(input("단을 입력해주세요."))
start = int(input("시작 곱을 입력하세요"))
end = int(input("마지막 곱을 입력하세요"))
i = start
while i <= end:
    print(f"{dan}  * {i} = {dan * i}")
    #i = i + 1
    i += 1