In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 25pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 25pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_4836\627556072.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [5]:
# 3단을 출력하시오
i = 1
while i <= 9:
    print(f"3 * {i} = {3 * i}")
    i += 1
# 4단을 출력하시오
i = 1
while i <= 9:
    print(f"4 * {i} = {4 * i}")
    i += 1
# 5단을 출력하시오
i = 1
while i <= 9:
    print(f"5 * {i} = {5 * i}")
    i += 1
# 6단을 출력하시오
i = 1
while i <= 9:
    print(f"6 * {i} = {6 * i}")
    i += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [6]:
# 2중 반복문
dan = 3
while dan <= 6:
    i = 1
    while i <= 9:
        print(f"3 * {i} = {3 * i}")
        i += 1
    dan += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 2단부터 4단까지 , 곱은 4곱부터 8곱까지만 출력하시오
# 2단
gop = 4
while gop <= 8:
    print(f"2 * {gop} = {2 * gop}")
    gop += 1
# 3단
gop = 4
while gop <= 8:
    print(f"3 * {gop} = {3 * gop}")
    gop += 1
# 4단
gop = 4
while gop <= 8:
    print(f"4 * {gop} = {4 * gop}")
    gop += 1

In [9]:
dan = 2
while dan <= 4:
    gop = 4
    while gop <= 8:
        print(f"{dan} * {gop} = {dan * gop}")
        gop += 1
    dan +=1

2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

In [10]:
startDan = int(input("시작단을 입력해주세요"))
endDan = int(input("끝단을 입력해주세요"))
startGop = int(input("시작곱을 입력해주세요"))
endGop = int(input("끝곱을 입력해주세요"))
dan = startDan
while dan <= endDan:
    gop = startGop
    while gop <= endGop:
        print(f"{dan} * {gop} = {dan * gop}")
        gop += 1
    dan +=1

시작단을 입력해주세요4
끝단을 입력해주세요7
시작곱을 입력해주세요5
끝곱을 입력해주세요7
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

In [46]:
import random
lotto = [] #빈 리스트
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
print(lotto)
# idx = random.randint(0, 44) # 0 ~ 44
# lottonum = lotto[idx] # 복원 추출
# lottonum = lotto.pop(idx) # 비복원 추출
# print(lottonum)
# print(lotto)
lottosize = len(lotto) # 45
i = 1
while i <= 6:
    lottosize -= 1
    idx = random.randint(0, lottosize)
    lottonum = lotto.pop(idx)
    print(lottonum, end=", ")
    i += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
43, 39, 38, 25, 8, 35,

In [51]:
import random
lotto = []
qty = int(input("구매 수량을 입력해주세요"))
cnt = 1
while cnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i)
        i += 1
    lottosize = len(lotto) # 45
    i = 1
    while i <= 6:
        lottosize -= 1
        idx = random.randint(0, lottosize)
        lottonum = lotto.pop(idx)
        print(lottonum, end=", ")
        i += 1
    lotto.clear()
    cnt += 1
    print()

구매 수량을 입력해주세요5
40, 10, 39, 25, 20, 7,
19, 17, 22, 35, 8, 36,
4, 8, 12, 37, 16, 39,
42, 4, 17, 40, 31, 37,
41, 32, 5, 21, 2, 22,

In [53]:
### 1 ~ 100까지의 합을 구하시오.
i = 1
sum1 = 0
while i <= 100:
    sum1 += i
    i += 1
print(sum1)

5050

In [55]:
i = 1
sum1 = 0
while True:
    if i > 100:
        break # 반복문을 중지 시킴. break문을 만나면 다음 명령문은 실행되지 않는다.
    sum1 += i
    i += 1
print(sum1)

5050

In [57]:
# 1 ~ 20중 짝수만 출력하시오,
i = 0
while i <= 19:
    i += 1
    if i % 2 != 0: # 홀수
        continue # 다음 명령문은 실행 하지 않고 while문으로 올라간다.
    print(i)

2
4
6
8
10
12
14
16
18
20

In [58]:
# 1 ~ 20중 홀수만 출력하시오.
i = 0
while i <= 19:
    i += 1
    if i % 2 == 0: # 짝수
        continue # 다음 명령문은 실행 하지 않고 while문으로 올라간다.
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
# 1 ~ 100중 홀수의 합을 구하시오.
i = 0
sum1 = 0
while i <= 99:
    i += 1
    if i % 2 == 0: # 짝수
        continue 
    sum1 += i
print(sum1)

i = 1
sum1 = 0
while i <= 100:
    if i % 2 != 0:
        sum1 += i
    i += 1
print(sum1)

i = 1
sum1 = 0
while True:
    if i > 100:
        break
    if i % 2 != 0:
        sum1 += i
    i += 1
print(sum1)

2500
2500
2500

In [3]:
# 리스트에 있는 합을 구하시오
l = [1, 43, 5, 56]
sum1 = 0
    #   0   +  1    = 1
sum1 = sum1 + l[0]
    #   1   +  43   = 44
sum1 = sum1 + l[1]
    #   44  + 5     = 49
sum1 = sum1 + l[2]
sum1 = sum1 + l[3]
print(sum1)

105

In [11]:
l = [1, 43, 5, 56]
idx = 0
sum1 = 0
while idx <= 3:
    sum1 += l[idx]
    idx += 1
print(sum1)

idx = 0
sum1 = 0
cnt = len(l) -1
while idx <= cnt :
    sum1 += l[idx]
    idx += 1
print(sum1)

105
105

In [13]:
for num in [1, 43, 5, 56]:
    print(num)

l = [1, 43, 5, 56]
for num in l:
    print(num)

sum1 = 0
for num in l:
    sum1 += num
print(sum1)
# while문은 보통 증가가 있는 범위를 가지는 명령문에서 사용
#for문은 리스트나 튜플과 같은 자료형인 경우 사용

1
43
5
56
1
43
5
56

In [14]:
t = (1, 43, 5, 56)
sum1 = 0
for num in t:
    sum1 += num
print(sum1)

105

In [16]:
# l = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] 의 평균을 구하시오
l = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum1 = 0
for num in l:
    sum1 += num
print(sum1 / len(l))

# while
idx = 0
sum1 = 0
while idx <= len(l) -1:
    sum1 += l[idx]
    idx += 1
print(sum1 / len(l))

79.0
79.0

In [20]:
l1 = [(1,2),(3,4),(5,6)]
for t in l1:
    print(t)

for (a, b) in l1:
    print(a, b)
    print(a + b)

(1, 2)
(3, 4)
(5, 6)
1 2
3
3 4
7
5 6
11

In [22]:
l1 = [(1,2,3),(3,4,5),(5,6,7)]
for (a,b,c) in l1:
    print(a, b, c)
    print(a+b+c)
for num in l1:
    print(num[0], num[1], num[2])
    print(num[0] + num[1] + num[2])

1 2 3
6
3 4 5
12
5 6 7
18
1 2 3
6
3 4 5
12
5 6 7
18

In [24]:
l1 = [(1,2,3),(4,5),(5,6,7)]
for (a,b) in l1:
    print(a,b,c)

ValueError: too many values to unpack (expected 2)

In [27]:
# 1~ 100까지의 합을 구하시오.
i = 1
sum1 = 0
while i <= 100:
    sum1 += i
    i += 1
print(sum1)

sum1 = 0
for num in range(1, 101): # 1부터 100까지
    sum1 += num
print(sum1)

# 1 ~ 100중 짝수만 더하시오.
i = 0
sum1 = 0
while i <= 99:
    i += 1
    if i % 2 != 0:
        continue
    sum1 += i
print(sum1)

sum1 = 0
for num in range(1, 1 + 100):
    if num % 2 != 0:
        continue
    sum1 += i
print(sum1)

5050
5050
2550

In [29]:
# 3단
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}")

for dan in range(3, 6):
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [32]:
startDan = int(input("시작단을 입력하세요."))
endDan = int(input("끝단을 입력하세요."))
startGop = int(input("시작곱을 입력하세요."))
endGop = int(input("끝곱을 입력하세요."))

for dan in range( startDan, endDan + 1 ):
    for gop in range( startGop, endGop + 1 ):
        print(f"{dan} * {gop} = {dan * gop}")

시작단을 입력하세요.3
끝단을 입력하세요.5
시작곱을 입력하세요.3
끝곱을 입력하세요.4
3 * 3 = 9
3 * 4 = 12
4 * 3 = 12
4 * 4 = 16
5 * 3 = 15
5 * 4 = 20

In [34]:
# a퓨플에 있는 값에 3을 곱한 값을 빈 리스트에 저장하시오.
a = (1,2,3,4)

result = []
for num in a:
    result.append(num * 3)
print(result)

# 리스트를 포함한 반복문
print("=" * 30)
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]
==============================
[3, 6, 9, 12]

In [42]:
# a튜플에서 값이 짝수인 것만 3을 곱한 값을 리스트에 추가하시오.
a = (1,2,3,4)
result = []
for num in a: 
    if num % 2 == 0: result.append(num * 3)
print(result)

# 리스트를 포함한 반복문
result = [num * 3 for num in a 
                      if num % 2 == 0]
print(result)

[6, 12]
[6, 12]

In [43]:
marks = [90, 25, 67, 45, 80]
for idx in range(len(marks)): # index를 가지고 오는 방법
    print(marks[idx])

sum1 = 0 
for idx in range(len(marks)): # index를 가지고 오는 방법
    sum1 += marks[idx]
print(sum1)

sum1 = 0
for num in marks: 
    sum1 += num
print(sum1)

90
25
67
45
80
307
307

In [46]:
result = []
for dan in range(3, 6):
    for gop in range(1, 10):
        result.append(dan * gop)
print(result)

result =[dan * gop for dan in range(3, 6)
                   for gop in range(1, 10)]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [47]:
# 함수
# f(x, y) = 2x + 3y
# z = f( 2, 3 )
# z : 13
def f(x, y) : # 피호출함수
    return 2*x + 3*y # 결과값 13

z = f( 2, 3 ) # 호출함수 : 13
print(z)

'''
정의 : 피호출 함수 : parameter :입력값
def 함수명(param1,param2, param3, ... ): 
    명령문1
    명령문2
    ...
    result 결과값 # retrun문 뒤에 있는 값은 호출함수에게 전달이 된다.
    
실행 : 호출함수
result = 함수명(arg1,arg2,arg3,... ) 
print(result)
'''

13

In [48]:
# 3단
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}")
# 5단
for gop in range(1, 10):
    print(f"5 * {gop} = {5 * gop}")
# 9단
for gop in range(1, 10):
    print(f"9 * {gop} = {9 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [49]:
def guguDan(dan): # 피호출함수
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [52]:
guguDan(3) # 호출함수
guguDan(5)
guguDan(9)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [64]:
def gugu3Dan():
    for gop in range(1, 10):
        print(f"3 * {gop} = {3 * gop}")
def gugu8Dan():
    for gop in range(1, 10):
        print(f"8 * {gop} = {8 * gop}")

In [ ]:
gugu3Dan()
gugu3Dan()
gugu3Dan()
gugu8Dan()
gugu8Dan()

In [66]:
### 함수를 만드는 4가지 형식
'''1. 일반적인 형식 : 입력값이 있고 결과값이 있는 함수'''
def f(x): #x는 parameter이고 입력값이다.
    return 3 + x * 5

In [68]:
result = f(8)
print(result)

43

In [69]:
def add1(x, y):
    z = x + y
    return z

In [70]:
result = add1(3, 5)
print(result)

8

In [71]:
result = add1(8, 5)
print(result)

13

In [73]:
'''2. 입력값은 없지만 결과값이 있다.'''
def add2():
    x = 2
    y = 5
    return x + y

In [74]:
result = add2()
print(result)

7

In [75]:
def add2():
    x = int(input("숫자를 입력해주세요"))
    y = int(input("숫자를 입력해주세요"))
    return x + y

In [76]:
result = add2()
print(result)

숫자를 입력해주세요3
숫자를 입력해주세요5
8

In [77]:
result = add2() # 재 사용
print(result)

숫자를 입력해주세요10
숫자를 입력해주세요20
30

In [78]:
'''3.입력 값은 있으나 결과값이 없다.'''
def add3(x, y):
    z = x + y
    print(z)

In [80]:
add3(10, 20)

30

In [82]:
'''4. 입력값도 없고 결과값도 없다.'''
def add4():
    x = 3
    y = 5
    z = x + y
    print(z)

In [83]:
add4()

8

In [84]:
def add4():
    x = int(input("숫자를 입력해 주세요"))
    y = int(input("숫자를 입력해 주세요"))
    z = x + y
    print(z)

In [85]:
add4()

숫자를 입력해 주세요10
숫자를 입력해 주세요20
30

In [95]:
import random
lotto = [n for n in range(1, 1 + 45) ]
lottoSize = len(lotto)
j = 1
while j <= 6:
    lottoSize -= 1
    idx = random.randint(0, lottoSize) #index
    num = lotto.pop(idx)
    print(num , end=", ")
    j += 1

41, 1, 7, 3, 36, 11,

In [99]:
def lottofnc():
    lotto = [n for n in range(1, 1 + 45) ]
    lottoSize = len(lotto)
    j = 1
    while j <= 6:
        lottoSize -= 1
        idx = random.randint(0, lottoSize) #index
        num = lotto.pop(idx)
        print(num , end=", ")
        j += 1 
    print()

In [103]:
cnt = int(input("구매수량을 입력해주세요"))
i = 1
while i <= cnt:
    lottofnc()
    i += 1

구매수량을 입력해주세요6
24, 42, 45, 23, 39, 29,
22, 41, 8, 2, 43, 11,
11, 40, 21, 31, 44, 16,
10, 7, 35, 36, 24, 26,
2, 41, 18, 15, 43, 9,
26, 28, 27, 44, 14, 40,

In [104]:
def lottoCnt():
    cnt = int(input("구매수량을 입력해주세요"))
    i = 1
    while i <= cnt:
        lottofnc()
        i += 1

In [105]:
lottoCnt()

구매수량을 입력해주세요5
8, 17, 9, 26, 12, 16,
2, 41, 9, 17, 39, 1,
1, 17, 22, 4, 14, 19,
45, 38, 32, 44, 12, 24,
17, 32, 12, 4, 26, 44,

In [106]:
# 1~~~100, 1~~~~1000, 50~~~~1000 에 해당하는 합계 값을 구하시오.
sum1 = 0
for i in range(1, 1 + 100):
    sum1 += i
print(sum1)

5050

In [107]:
def sum2(start, end):
    sum1 = 0
    for i in range(start, end + 1):
        sum1 += i
    print(sum1)

In [110]:
sum2(1, 100)
sum2(1, 1000)
sum2(50, 1000)

5050
500500
499275

In [111]:
def sum3(start, end):
    sum1 = 0
    for i in range(start, end + 1):
        sum1 += i
    return sum1

In [117]:
result = sum3(1, 100)
print(result)
result = sum3(1, 1000)
print(result)
result = sum3(50, 1000)
print(result)

5050
500500
499275

In [113]:
result = sum3(end = 1000, start = 50) # argument에 parameter를 지정한 경우 순서는 상관 없다.
print(result)

499275

In [174]:
def sum11( *para1): #튜플로 받아온다.
    print("para = ", para)
    sum1 = 0
    for num in para:
        sum1 += num
    print(sum1)

In [146]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4)
sum11(1,2,3,4,5,6,7,8,9,10)

para =  (1, 2)
3
para =  (1, 2, 3)
6
para =  (1, 2, 3, 4)
10
para =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [181]:
def sum12(opt, *para):
    print("opt = " , opt)
    print("para = ", para)
    result = 2
    if opt == "add":
        # result += para   # result = result + para : result = int + tuple
        for num in para:
            result += num
    elif opt == "mul":
        for num in para:
            result *= num
    print(result)

In [182]:
sum12("add", 1,2,3)
sum12("mul", 1,2,3,4,5,6 )

opt =  add
para =  (1, 2, 3)
8
opt =  mul
para =  (1, 2, 3, 4, 5, 6)
1440

In [138]:
a , b = (10, 20)

In [180]:
t  = (1,2,3,4)
#print( 1 + t)
str1 = "abcd"
print( str(1)+ str1)

1abcd

In [202]:
def sum14(opt, *para): # para:튜플 자료형
    result = (1,2,3)
    if opt == "add":
        result = result + para   # 튜플 + 튜플
    elif opt == "mul":
        result = result * para[0] # 튜플 * 정수
    print(result)
sum14("add", 4,5,6)
sum14("mul", 4,5,6)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [197]:
t = (1,2,3,4)
print((1,2,3,4)[0])
print((1,2,3,4)[1])
print((1,2,3,4)[2])
print((1,2,3,4)[3])
print( 1 + (1,2,3,4)[0] + (1,2,3,4)[1] + (1,2,3,4)[2] + (1,2,3,4)[3])
# print( 1 + (1,2,3,4)) # 숫자와 튜플은 연산할 수 없다.

1
2
3
4
11
(1,)

In [200]:
a , b = (10, 20) # 변수 = 튜플

The original tuple : (1, 4, 5)

In [210]:
### return문에 의해 전달 되는 값은 오로지 하나이다.
def add_mul(x, y):
    i = x + y
    j = x * y
    return i, j # 값이 여러개인 경우 튜플로 묶어서 하나의 값으로 반환한다.

In [214]:
result = add_mul(3, 6)
print(result)
print(result[0], result[1])
a, b = add_mul(3, 6)
print(a, b)

(9, 18)
9 18
9 18

In [215]:
def add_mul1(x , y):
    i = x + y
    j = x * y
    return i # return은 함수 종료
    return j # 함수안에서 return문은 한번만 사용가능하다.

In [216]:
result = add_mul1(3, 5)
print(result)

8

In [217]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man = True):
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다")

In [220]:
say_myself("이숭무", 35)
say_myself("이지연", 35, False)

나의 이름은 이숭무 입니다.
나이는 35살입니다.
남자입니다.
나의 이름은 이지연 입니다.
나이는 35살입니다.
여자입니다

In [223]:
def say_myself(name, old = 25, man):
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다")
# 중간에 초기값을 가지도록 만들 수는 없다
# 매개변수에 초기 값을 가지도록 하기 위해서는 맨뒤에서부터 앞으로 하나씩 초기값을 줘야 한다.

SyntaxError: non-default argument follows default argument (3450490253.py, line 1)

In [224]:
### 전역변수 : 보통 프로그램이 종료되기 전까지  사용할 수 있는 변수
### 지역변수 : 함수가 종료되면 변수도 같이 소멸
b = 1 # 전역변수, 글로벌 변수
def test4():
    b = 100 # 지역변수
    print("함수 안에서 실행 : %d" % b)
test4()
print(b)

함수 안에서 실행 : 100
1

In [225]:
b = 1 # 전역변수, 글로벌 변수
def test4():
    global b
    b = 100 # 지역변수
    print("함수 안에서 실행 : %d" % b)
test4()
print(b)

함수 안에서 실행 : 100
100

In [226]:
### lambda함수
def add(a, b):
    return a + b

result = add(3, 4)
print(result)

7

In [229]:
add = lambda a, b : a + b
result = add(3, 4)
print(result)

add = lambda a, b = 4 : a + b
result = add(3)
print(result)
result = add(3, 10)
print(result)

7
7
13

In [231]:
def add(opt, a, b):
    if opt == "add":
        return a + b
    else:
        return a - b
result = add("add", 4 , 3)
print(result)

7

In [230]:
add = lambda opt, a, b : a + b if opt == "add" else a - b
result = add("add", 4 , 3)
print(result)

7

In [233]:
def add(opt, a, b):
    if opt == "add":
        return a + b
    else:
        if opt == "sub":
            return a - b
        else:
            if opt == "mul":
                return a * b
            else:
                return a / b
result = add("add", 4 , 3)
print(result)

7

In [234]:
add = lambda opt, a, b : a + b if opt == "add" else (
                         a - b if opt == "sub" else (
                         a * b if opt == "mul" else a / b
                         ))
result = add("add", 4 , 3)
print(result)

7

In [235]:
## 파일 입출력
## 데이터를 파일에 저장하거나 파일에 있는 데이터를 가져오고자 할 때 사용

## 파일에 데이터를 저장
# f = open( "C:\\Users\\soldesk\\Desktop\\220604\\test.txt" , "w")
# f = open( "C:/Users/soldesk/Desktop/220604/test.txt" , "w") # windows에서만 가능
f = open("test.txt" , "w")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.close()

In [236]:
f = open("test.txt" , "w") # 존재하는 파일에 내용 적으면  overwrite가 된다.
f.write("6번째 줄입니다.\n")
f.write("7번째 줄입니다.\n")
f.write("8번째 줄입니다.\n")
f.write("9번째 줄입니다.\n")
f.write("10번째 줄입니다.\n")
f.close()

In [237]:
f = open("test.txt" , "w") 
for num in range(1, 6):
    f.write(f"{num}번째 줄입니다.\n")
f.close()

In [238]:
f = open("test.txt" , "a") # append : 파일 내용의 마지막 부터 저장
for num in range(6, 11):
    f.write(f"{num}번째 줄입니다.\n")
f.close()

In [243]:
f = open("test.txt" , "r") # read
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()
# line = f.readline() # 파일이 닫혀서 오류 발생
# print(line)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

In [245]:
f = open("test.txt" , "r") # read
while True:
    line = f.readline()
    if not line:
        break
    print(line, end="")
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [250]:
f = open("test.txt" , "r")
lines = f.readlines()
f.close()
print(lines)
for line in lines:
    print(line, end="")
print("=" * 30)
str1 = "hello"
print(",".join(str1))
print("=" * 30)
# 리스트나 튜플에 있는 요소들을 문자열로 변환 , *****
strlines = "".join(lines) 
print(strlines)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
==============================
h,e,l,l,o
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [259]:
print(lines)
print(str(lines))
print(type(str(lines)))
'''
['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', 
'5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', 
'9번째 줄입니다.\n', '10번째 줄입니다.\n']
'''
t = (1,2,3,4,5,6)
print(str(t))
str2 = str(t)
print(str2[0])
print(type(str2))

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
<class 'str'>
(1, 2, 3, 4, 5, 6)
(
<class 'str'>

In [261]:
f = open("test.txt" , "r")
data = f.read()
f.close()
print(data)
print(type(data))

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

<class 'str'>

In [ ]:
f = open("test.txt" , "w") 
for num in range(1, 6):
    f.write(f"{num}번째 줄입니다.\n")
f.close()

In [262]:
with open("test.txt" , "w") as f: # f.close()를 사용하지 않아도 되게 하기 위해서
    for num in range(1, 6):
        f.write(f"{num}번째 줄입니다.\n")

In [263]:
with open("test.txt" , "a") as f: 
    for num in range(6, 11):
        f.write(f"{num}번째 줄입니다.\n")

In [265]:
with open("test.txt" , "r") as f:
    data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [275]:
#### class는 반복적으로 사용해야 하는 변수와 함수를 묶어 놓것
result = 0
result = result + 1
result = result + 4
result = result + 3
print(result)

8

In [276]:
result1 = 0
result1 = result1 + 11
result1 = result1 + 14
result1 = result1 + 13
print(result1)
print(result)

38
8

In [270]:
result = 0
def add(num):
    global result
    result += num

In [280]:
result = 0
add(1)
print(result)
add(4)
print(result)
add(3)
print(result)
add(6)
print(result)

1
5
8
14

In [278]:
result1 = 0
def add1(num):
    global result1
    result1 += num

In [281]:
result1 = 0
add1(11)
add1(14)
add1(13)
print(result1)
print(result)

38
14

In [289]:
class ClassAdd: 
    result = 10
    def add(self, num):
        self.result += num

In [290]:
a1 = ClassAdd() # result, add()
i = 10 # 정수
l = [1,2,3,4] # 리스트
print(l)

[1, 2, 3, 4]

In [291]:
print(a1.result)
a1.add(100)
print(a1.result)

10
110

In [293]:
a2 = ClassAdd() # result, add()
print(a2.result)
a2.add(20)
print(a2.result)

10
30

In [295]:
a3 = ClassAdd() # result, add()
print(a3.result)
a3.add(100)
print(a3.result)
print(a1.result)
print(a2.result)
a3.add(200)
print(a3.result)
print(a1.result)
print(a2.result)

10
110
110
30
310
110
30

In [302]:
# class내에 있는 함수의 매개변수 self
class Calculator:
    result = 0 # 멤버변수, 멤버필드
    def add(self, num): # self는 어느 객체에 있는 변수인지를 알기 위해서 사용
        self.result += num # self.result = self.result + num
# 파이썬의  self(명시적)는 자바의 this(암시적)와 같다

In [303]:
cal1 = Calculator() # Calculator()의 객체 
cal2 = Calculator()

cal1.add(10) # cal1.result = cal1.result + num
Calculator.add(cal1, 10) 
# 객체명을 self에 전달

cal2.add(200) # cal2.result = cal2.result + num
Calculator.add(cal2, 200)


print(cal1.result)
print(cal2.result)

20
400

In [304]:
cal3 = Calculator()
Calculator.add(cal3, 10)
print(cal3.result)
cal3.add(10) 
print(cal3.result)

10
20